.about__wrapper {
  padding-bottom: 40px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding: 60px 45px 120px;
    text-align: center;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 120px 103px 240px;
    display: flex;
    text-align: left;
  }
}

