.contacts__title {
  margin-bottom: 37px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 26px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: auto auto;
    column-gap: 60px;
    row-gap: 15px;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      left: 50%;
      background-color: #74819c;
    }
  }

  @media (min-width: $desktop-width) {
    column-gap: 108px;

    &::after {
      left: 238px;
    }
  }
}

/* .contacts__item {
  width: max-content;
} */

.contacts__item--shedule {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}


.contacts__name {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}

.contacts__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.contacts__link {
  display: block;
  text-decoration: none;
  color: $color-base-black;
}

.contacts__link:hover {
  opacity: 0.5;
}

.contacts__link:focus-visible {
  outline: 1px solid $color-base-black;
  outline-offset: 5px;
}

.contacts__link:active {
  text-decoration: underline;
  opacity: 1;
}
